@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color:#09172C ; /* Defina a cor de fundo desejada aqui */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #09172C; /* Defina a cor de fundo desejada aqui */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color); /* Use a variável de cor de fundo */
}
@font-face {
  font-family: "Cousine" ;
  src: url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
