@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .divbg{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Ftecnoblog.net%2Fnoticias%2Fdesenvolvedor-descobre-que-ia-que-gera-imagens-e-otima-para-comprimir-fotos%2F&psig=AOvVaw1dZjnO6vU-0UNaoj0rTLpc&ust=1711684845378000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPCoo4uJloUDFQAAAAAdAAAAABAE");
  }
}
